@model e_okul.Models.Harf

@{
    ViewData["Title"] = "Details";
}

<h1>Detay Sayfası</h1>

<div>
    <h4>Harf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harf1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harf1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Katsayi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Katsayi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ortalama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ortalama)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.HarfId">Güncelle</a> |
    <a asp-action="Index"class="btn btn-outline-info" >Geri Dön</a>
</div>
