@model e_okul.Models.Ogrenci

@{
    ViewData["Title"] = "Details";
}

<h1>Detay Sayfası</h1>

<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrBolum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrBolum.BolumId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.OgrId">Güncelle</a> |
    <a asp-action="Index"class="btn btn-outline-info" >Geri Dön</a>
</div>
